<!-- ////////////// HEADER ////////////// -->
header.home
	.container
		.row.text-center
			.col-sm-12
				.header_tren.mt-5
					.h-company
						h3 Company
					.h-icon
						<i class="fa fa-phone"></i>
						<i class="fa fa-search"></i>
				hr.hr-tren(style="width:80%;height:2px;background:#343434;")
		.row
			nav
				ul
					li
						a(href="#") Trang chủ
					li
						a(href="#") Sản Phẩm Mới
					li
						a(href="#") Chăm Sóc Tóc
					li
						a(href="#") Liên Hệ	
				#pull.menu
					span
					span
					span
					span
					span
					span

minhnhan21
<!-- ////////////// HEADER ////////////// -->
